@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #2CB3F3;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 15px;
    width: 70vh;
    height: 10vh;
}

h1{
    font-weight: 500;
}

p{
    font-weight: 400;
}

.cabecete-finn{
    position: absolute;
    top: 100px;
    height: 450px;
    width: 600px;
    background-color: white;
    border-radius: 100px 100px 0px 0px;
}

.rosto-finn{
    position: absolute;
    border-radius: 50%;
    top: 50px;
    left: 50px;
    width: 500px;
    height: 370px;
    background-color: #FFE1C9;
}

.olho-left{
    position: absolute;
    left: 120px;
    top: 100px;
    border-radius: 50%;
    width: 40.1px;
    height: 40.1px;
    background-color: #000000;
}

.olho-right{
    position: absolute;
    left: 330px;
    top: 100px;
    border-radius: 50%;
    width: 40.1px;
    height: 40.1px;
    background-color: #000000;
}

.box-input{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
    top: 220px;
    left: 130px;
}

input{
    width: 230px;
    height: 40px;
    padding-left: 10px;
}

button{
    position: absolute;
    top: 570px;
    width: 150px;
    height: 50px;
    background-color: #55A603;
    padding: 10px;
    box-shadow: 0px 2px black;
    border-radius: 6px;
}

button p{
    font-weight: 400;
    color: white;
    font-size: 20px;
    
}